.Container{
    margin-top: 18px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.filterContainer{
    display: flex;
    flex-direction: column;
}

.OrderContainer{
    display: flex;
    margin: 8px;

}

.TypeOrder{
    display: flex;
    margin: 8px;
}


.FilterTypeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.GroupType{

    margin: 8px;
}

.filterButtonContainer{
    margin-left: 16px;
}


.NextPrevButon {
    margin-top: -28px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ButtonPrev {
    background: blue;
    height: 30px;
    width: 90px;
    border-radius: 80px 0 0 80px;
    margin-right: 8px;
}

.ButtonNext {
    background: blue;
    height: 30px;
    width: 90px;
    border-radius: 0 80px 80px 0;
    margin-left: 8px;
}