.Form {
    background: #eaf4f4;
}

.ContainerForm {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    background: linear-gradient(30deg, #0077b6, #ade8f4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 640px;
    width: 600px;
    box-shadow: 0 20px 30px #888;
    justify-content: center;
    background-size: cover;
}


.StatsAllInfo label {
    font-weight: bold;
    margin-right: 15px;
}

.StatsAllInfo input {
    border-radius: 5px;
    height: 18px;
}

.IntroCreated h2 {
    padding: 15px;
}

.TypeContainer {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.TypeContainer div {
    padding: 8px;
}


.inputStats {
    outline: none;
}

.BtnContainer {
    position: relative;
    bottom: 20px;
    width: 80px;
    height: 40px;
    font-weight: bold;
}


.labelAndInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px;
}