.Container{
    margin: 12px;
    width: 240px;
    height: 425px;
    background: url(https://e1.pxfuel.com/desktop-wallpaper/185/181/desktop-wallpaper-pokedex-iphone-pokedex.jpg);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 15px 15px 15px #888;
}

.LinkContainer {
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.LinkContainer:hover {
    transform: scale(1.1);
}

.Container img{
    position: relative;
    left: 30px;
    top: 145px;
    object-fit: contain;
    width: 170px;
    height: 170px;
}

.NameOfPokemon{
    position: relative;
    top: 40px;
    color: #03045e;
}

.NumberOfPokemon{
    position: relative;
    font-weight: 800;
    color: #888;
    top: 48px;
    right: 80px;
}

.TypeContainer{
    position: relative;
    height: 110px;
    top: 100px;
    right: 5px;

}

.SpanContainer{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 150px;
    left: 8px;
    width: 10%;
    border: 2px solid rgb(7, 6, 7);
    border-radius: 8px;
    padding: 5px 15px;
    margin: 5px;
}